<p style="color: green"><%= notice %></p>

  <%= render partial: 'ads/ad', layout: 'shared/card_layout', locals: {ad: @ad} %>

<div>

  <%= button_to "Destroy this ad", @ad, method: :delete %>
</div>
