<div class="container container-table">
  <div class="row vertical-center-row">
    <div class="col-md-12">
      <%= render partial: "devise/shared/signup", layout: "shared/card_layout" %>
    </div>
  </div>
</div>
