<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.first_name %> et merci pour votre commande chez DISCOTECH !</h1>
    <p>
        Merci pour votre commande n°: <%= @user.email %> !.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> A bientôt sur discotech.fr !
  </body>
</html>