<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Bonjour <%= @user.first_name %> </h2>
    <p>
        Merci pour votre commande n°: <%= @user.email %> chez DISCOTECH !.
    </p>
    <p>
        Votre commande vous sera livrée sous quelques jours.
    </p>
    <p> A bientôt sur discotech.fr !
  </body>
</html>