<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.first_name %> </h1>
    <p>
        Nous vous confirmon que la commande s'est bien dérouler.
    </p>
    <p>
      l'acheteur reçevra son colis dans les prochains jours.
    </p>
    <p> A bientôt !
  </body>
</html>