<h1>Marketplace</h1>
<p>Retrouvez tous les albums en vente dans cet espace !</p>

<div class="container mt-5">
  <%= link_to "Retour à l'accueil", root_path, class: 'btn' %>
  <% @collections.each do |collection| %>
    <%= render partial: 'albums/for_sale', locals: {collection: collection}, layout: 'shared/card_layout'%>
  <%end%>

</div>
