<div class='container'>
  <h1>Marketplace#show</h1>
  <p>Find me in app/views/marketplace/show.html.erb</p>
  <%= render partial: 'marketplaces/for_sale', locals: {collection: @collection}, layout: 'shared/card_layout' %>
</div>
