
<p style="color: green"><%= notice %></p>
<div class= "row">
  <div class= "col-sm-1">
    <h1>Les utilisateurs</h1>
  </div>
</div>
<div id="users">
  <% @users.each do |user| %>
    <%= render partial: 'users/user', layout: 'shared/card_layout', locals: {user: user} %>
    <%= render partial: 'shared/divider'%>
  <% end %>
  <%= paginate @users%>
</div>
