<p style="color: green"><%= notice %></p>
<div class="row">
  <div class="col-sm-3">
    <h1> Mes informations </h1>
    <%= render partial: "users/user", layout: "shared/card_layout", locals: {user: @user} %>
  </div>
  <div class="col-sm-8">
    <h1> Ma collection </h1>
    <%= render partial: "albums/album", layout: "shared/card_layout", collection: @albums, spacer_template: 'shared/divider' %>

    <h1> Mes commandes <h1>
    <%= render partial: 'orders/order', collection: @orders, layout: "shared/card_layout", spacer_template: 'shared/divider'  %>

  </div>
</div>
