<p style="color: green"><%= notice %></p>
<div class="row">
  <div class="col-sm-3">
    <h1> Your Profile </h1>
    <%= render partial: "users/user", layout: "shared/card_layout", locals: {user: @user} %>
  </div>
  <div class="col-sm-8">
    <h1> Your Collection </h1>
    <%= render partial: "albums/album", layout: "shared/card_layout", collection: @albums, spacer_template: 'shared/divider' %>
  </div>
</div>
