<div class="container container-table w-25">
  <div class="row vertical-center-row">
    <div class="col-md-12">
      <%= render partial: "devise/passwords/forgot", layout: "shared/card_layout" %>
    </div>
  </div>
</div>
