<% if controller_name == "albums"  %>
<%= button_to "Ajouter au panier", cartlines_path(:album_id => album.id), class: 'btn btn-cart' %>
<% end %>
<span class ="btn btn-marketplace">
<i class = "bi-cart-fill icon-marketplace"></i>
<%= link_to "Marketplace", root_path %>
</span>