<h2>Vendeur à la une</h2>
<%= render partial: 'shared/cover', locals: {album: album} %>
<p><strong>Artiste :</strong>  <%= album.artist%></p>
<p><strong>Titre de l'album</strong> : <%= album.title %></p>
<p><strong>Date sortie</strong> : <%= album.year %></p>



