<h3>Meilleure vente</h3>
<%= render partial: 'shared/cover', locals: {album: @best_sell} %>
<p><strong>Artiste :</strong>  <%= album.artist%></p>
<p><strong>Titre de l'album</strong> : <%= album.title %></p>
<p><strong>Date sortie</strong> : <%= album.year %></p>
