<p style="color: green"><%= notice %></p>
<br>
<br>
<div class="container">
  <div class="row d-flex justify-content-center text-center">
    <div class= "col-6">
      <%= render partial: "home/best_seller", layout: "shared/card_layout", locals: {album: @album_best_seller} %>
    </div>
    <div class= "col-6">
      <%= render partial: "home/best_sell", layout: "shared/card_layout", locals: {album: @best_sell} %>
    </div>
  </div>
</div>

<div class="container">
  <div class='row'>
    <% @albums.each do |album| %>
      <div class= 'col'>
        <%= render partial: 'shared/cover', locals: {album: album} %>
      </div>
    <%end%>
  </div>
</div>
