<h2> Order n°: <%= order.id %> - Total : <%= order.cart.sub_total %>€ </h2>
<% order.cart.ads.each do |ad|%>
  <%= render partial: 'copies/copy', locals: { copy: ad.copy }  , spacer_template: 'shared/line_divider' %>
<%end%>



