  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <button class="myaccordion">Tracklist</button>
    <div class="mypanel">
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Track</th>
            <th scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">A1</th>
            <td><%= @wrapper.get_release("240536").tracklist[0].title %></td>
            <td><%= @wrapper.get_release("240536").tracklist[0].duration %></td>
        </tbody>
      </table>
      <br>
    </div>
  </div>
    <div class="col-sm-4">
  </div>
