<p style="color: green"><%= notice %></p>
<div class="container mt-5">
  <%= link_to "Retour à l'accueil", root_path, class: 'btn' %>
  <% @collections.each do |collection| %>
    <%= render partial: 'albums/for_sale', locals: {collection: collection}, layout: 'shared/card_layout'%>
  <%end%>

</div>
