<p style="color: green"><%= notice %></p>

<h1>Albums</h1>
<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">

<div class="container">  
<div class="row">
<div class="col">
<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://i.discogs.com/IMCKmUYVHiQNnkSgyuMoqxrOo4S3-FYl0XC_V6XMCW8/rs:fill/g:sm/q:40/h:700/w:700/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI2MDE2/MTYwLTE2NzU5ODI2/MzQtMzA5OS5qcGVn.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="flip-card-back flip-card-back-image text-center align-items-center">
        <br>
        <h2>Air</h2> 
        <h2>Moon Safari</h2> 
        <p>Architect &amp; Engineer</p> 
        <p>We love that guy</p>
        <a href="#" class="btn btn-info">More info</a>
      </div>
    </div>
  </div>
  </div>

  <div class="col">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://i.discogs.com/IMCKmUYVHiQNnkSgyuMoqxrOo4S3-FYl0XC_V6XMCW8/rs:fill/g:sm/q:40/h:700/w:700/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI2MDE2/MTYwLTE2NzU5ODI2/MzQtMzA5OS5qcGVn.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="flip-card-back flip-card-back-image text-center align-items-center">
        <br>
        <h2>Air</h2> 
        <h2>Moon Safari</h2> 
        <p>Architect &amp; Engineer</p> 
        <p>We love that guy</p>
        <a href="#" class="btn btn-info">More info</a>
      </div>
    </div>
  </div>
  </div>

  <div class="col">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://i.discogs.com/IMCKmUYVHiQNnkSgyuMoqxrOo4S3-FYl0XC_V6XMCW8/rs:fill/g:sm/q:40/h:700/w:700/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI2MDE2/MTYwLTE2NzU5ODI2/MzQtMzA5OS5qcGVn.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="flip-card-back flip-card-back-image text-center align-items-center">
        <br>
        <h2>Air</h2> 
        <h2>Moon Safari</h2> 
        <p>Architect &amp; Engineer</p> 
        <p>We love that guy</p>
        <a href="#" class="btn btn-info">More info</a>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>


<div class="carousel-item">
<div class="container">
<div class="row">
<div class="col">
<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://i.discogs.com/IMCKmUYVHiQNnkSgyuMoqxrOo4S3-FYl0XC_V6XMCW8/rs:fill/g:sm/q:40/h:700/w:700/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI2MDE2/MTYwLTE2NzU5ODI2/MzQtMzA5OS5qcGVn.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="flip-card-back flip-card-back-image text-center align-items-center">
        <br>
        <h2>Air</h2> 
        <h2>Moon Safari</h2> 
        <p>Architect &amp; Engineer</p> 
        <p>We love that guy</p>
        <a href="#" class="btn btn-info">More info</a>
      </div>
    </div>
  </div>
  </div>

  <div class="col">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://i.discogs.com/IMCKmUYVHiQNnkSgyuMoqxrOo4S3-FYl0XC_V6XMCW8/rs:fill/g:sm/q:40/h:700/w:700/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI2MDE2/MTYwLTE2NzU5ODI2/MzQtMzA5OS5qcGVn.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="flip-card-back flip-card-back-image text-center align-items-center">
        <br>
        <h2>Air</h2> 
        <h2>Moon Safari</h2> 
        <p>Architect &amp; Engineer</p> 
        <p>We love that guy</p>
        <a href="#" class="btn btn-info">More info</a>
      </div>
    </div>
  </div>
  </div>

  <div class="col">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://i.discogs.com/IMCKmUYVHiQNnkSgyuMoqxrOo4S3-FYl0XC_V6XMCW8/rs:fill/g:sm/q:40/h:700/w:700/czM6Ly9kaXNjb2dz/LWRhdGFiYXNlLWlt/YWdlcy9SLTI2MDE2/MTYwLTE2NzU5ODI2/MzQtMzA5OS5qcGVn.jpeg" class="card-img-top" alt="...">
      </div>
      <div class="flip-card-back flip-card-back-image text-center align-items-center">
        <br>
        <h2>Air</h2> 
        <h2>Moon Safari</h2> 
        <p>Architect &amp; Engineer</p> 
        <p>We love that guy</p>
        <a href="#" class="btn btn-info">More info</a>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
