<p style="color: green"><%= notice %></p>

<%= render partial: "albums/album", layout: "shared/card_layout", locals: {album: @album}%>
<%= render partial: "albums/tracklist", layout: "shared/card_layout", locals: {album: @album}%>