    <tr>
<td><%= wished.album.release_id %> </th>
<td><%= wished.album.title %> </td>
<td><%= wished.album.artist %> </td>
<td><%= wished.album.year %> </td>
<td><>
<td> à completer avec le lien vers la release </td>
    </tr>
