<div class='container'>
  <h1>Ma Wishlist</h1>
  <% @wished_albums.each do |wished| %>
    <%= render partial: "shared/copy", locals: {collection: wished}, layout: "shared/card_layout" %>
  <%end%>
</div>
