<div class='container'>
<h1>Ma Wishlist</h1>

<% @wished_albums.each do |wished| %>
<%= render partial: "albums/for_sale", locals: {collection: wished}, layout: "shared/card_layout" %>
<%end%>
</div>
