<div class='container'>
  <h1>Ma collection</h1>
  <% @user_collection.each do |collectable| %>
    <%= render partial: "shared/copy", locals: {collection: collectable}, layout: "shared/card_layout" %>
  <% end %>
</div>
