

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

@keyframes antiscroll {
	0% { transform: translateX(calc(-250px * 7)); }
	100% { transform: translateX(0); }
}

.my-jumbotron {
	background-color: rgba(0, 0, 0, 0.65);
}


// Styling
.slider {
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 150px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: auto;
	

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}

	.anti-slide-track {
		animation: antiscroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}

	
	.slide {
		height: 150px;
		width: 250px;
	}
}