<p>Bonjour <%= @email %>!</p>

<p>Vous pouvez valider vitre compte en cliquant sur le lien ci-dessous :</p>

<p><%= link_to 'Valider mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>
