<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons pour vous notifier que votre email a été changé. Nouvel email : <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous contactons pour vous notifier que votre email a été changé. Nouvel email : <%= @resource.email %>.</p>
<% end %>
