<p>Bonjour <%= @resource.email %>!</p>

<p>Compte tenu d'un grand nombre d'échec de connexion, votre compte est bloqué.</p>

<p>Pour débloquer votre compte, veuillez cliquer sur le lien ci-dessous :</p>

<p><%= link_to 'débloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>
