
<div class="col-sm-4">
  <button class="myaccordion">Pistes</button>
  <div class="mypanel">
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Piste</th>
          <th scope="col">Durée</th>
        </tr>
      </thead>
      <tbody>
        <% @release.tracklist.each do |track| %>
          <tr>
            <td><%= track.position %></td>
            <td><%= track.title %></td>
            <td><%= track.duration %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
</div>