<ul class="nav flex-column">
  <li class="nav-item">
  <% if user_signed_in? %>
  <%=link_to "Mon Profil", user_path(current_user.id)%>
  <%end%>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>